<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Db9ac536f7668248bf9f78a20300872169Connection" connectionString="server=9ac536f7-6682-48bf-9f78-a20300872169.mysql.sequelizer.com;user id=owcyyduyslgdluwk;password=ojWdHr8RCzfmHCMn8QDR8XTCainBAmKR7YLakCEq3vCEcKynWbiUsmzyxsdzdEqq;persist security info=True;database=db9ac536f7668248bf9f78a20300872169" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>