<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDemoService" />
                <binding name="BasicHttpBinding_IDemoService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfDemo.Server/DemoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoService"
                contract="WebService.IDemoService" name="BasicHttpBinding_IDemoService" />
            <endpoint address="http://localhost:1416/HostedDemoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoService1"
                contract="HostedDemoService.IDemoService" name="BasicHttpBinding_IDemoService1" />
        </client>
    </system.serviceModel>
</configuration>
