#simple-web-gallery {
    nav {
        ul {
            li {
                list-style: none;
                display: inline-block;

                .thubnail {
                    width: 160px;
                }
            }
        }
    }
}

.images-container {
    postion: relative;

    input[type="radio"] {
        display: none;

        &:checked + .image {
            opacity: 1;
        }
    }

    .image {
        width: 480px;
        opacity: 0;
        display: inline-block;
        position: absolute;
        left: 106px;
    }
}