body,
div,
ul,
li,
img,
a,
span {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
body {
  padding: 15px;
}
#wrapper {
  width: 680px;
  height: 418px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background: #CCCCCC;
}
#wrapper .holder > img {
  width: 550px;
}
#wrapper li {
  width: 120px;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid black;
}
#wrapper .holder {
  float: left;
}
#wrapper .playlist {
  float: right;
}
a {
  height: 100px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a img {
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
a span {
  position: absolute;
  margin-top: 75px;
  margin-left: -101px;
}
a:hover span {
  text-decoration: underline;
}
img {
  border-radius: 5px;
}
